
easysocket/bin/Debug/netstandard2.0/

easysocket/bin/Release/netstandard2.0/

easysocket/obj/

socketwin/bin/Debug/

socketwin/bin/Release/

socketwin/obj/Debug/

socketwin/obj/Release/

socketserver/obj/

socketserver/bin/Debug/netcoreapp2.1/

easysocketPy/.idea/

easysocketPy/__pycache__/

socketwin/

easysocketPy/log.log

.vs/socketserver/v16/.suo

*.lock

.vs/socketserver/DesignTimeBuild/

*.ide

*.ide-wal

*.ide-shm
